@import "reset.css";
.title{
    background-color: #01579b;
    color : #fdd835;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    font-size : 80px;
    font-family: 'Permanent Marker', cursive;
    padding-top: 30px;
}
.Painting{
    background-color: #01579b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 250px;
    padding-bottom: 90px;
}

.canvas{
    width:800px;
    height:700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-right: 100px;

}
    input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: white;
      height: 10px;
    }
    
   
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 25px;
      cursor: pointer;
      background: #455a64;
      box-shadow: -80px 0 0 80px #bdbdbd ;
    }


.fBtn{
    width : 100px;
    height :50px;
    background-color: #9fc0cf;
}

.controls{
    margin-top: 80px;
}
.controls__colors{
    background-color: #f5f5f5;
    width: 630px;
    height: 150px;
    border-radius: 30px;
    padding-top:30px;
    padding-left: 50px;
}

.controls .controls__colors1,
.controls .controls__colors2{
    display:flex;
    justify-content: space-between;
    width:580px;
}

.controls__colors2{
    padding-top: 20px;
}

.controls__colors1 .controls__color,
.controls__colors2 .controls__color{
    width:50px;
    height:50px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
